<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/org.metaborg.meta.stratego.semantics/src/ds/entry/interpreter/StrategoInterpreterMain.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="ds.entry.interpreter.StrategoInterpreterMain"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="2&#10;test/libstratego-lib.ctree&#10;test/test000.ctree"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="org.metaborg.meta.stratego.semantics"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Xss16m"/>
</launchConfiguration>
